<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1>Show</h1>
    <ul>
        <li>{{ show.title }}</li>  
        <li>{{ show.network }}</li>  
        <li>{{ show.birthDay }}</li> 
        <li>{{ show.description }}</li> 
        <li>Posted By: {{ show.created_by }}</li> 
        <li>Liked by: {{request.session.added_by}}</li> 
    </ul>

    <a href='/app1/logout'>Log out</a>

    <a href='/app1/Viewall'>TV Shows</a>
</body>
</html>